apiVersion: v1
kind: Namespace
metadata:
  name: frontend
  labels:
    project: upbank-lab
    environment: prod
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: upbank-ui-runtime-config
  namespace: frontend
data:
  runtime-config.json: |
    {
      "cognitoDomain" : "https://<project>-prod.auth.ap-southeast-2.amazoncognito.com",
      "clientId" : "<placeholder>",
      "appSyncUrl" : "https://api.<project>-lab.<domain>/graphql",
      "region" : "ap-southeast-2",
      "scopes" : "openid email profile",
      "logoutUri" : "https://<project>-lab.<domain>/logout",
      "redirectUri" : "https://<project>-lab.<domain>/callback"
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: upbank-ui
  namespace: frontend
  labels:
    project: upbank-lab
    app: upbank-ui
    environment: prod
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: upbank-ui
  template:
    metadata:
      labels:
        project: upbank-lab
        app: upbank-ui
        environment: prod
    spec:
      containers:
        - name: app
          image: alanrlima/awslab-upbank-ui:be55147eba133334c16e664796807f5ef8455e13
          startupProbe:
            httpGet:
              path: /
              port: 80
            failureThreshold: 30
            periodSeconds: 5
          readinessProbe:
              exec:
                command:
                  - sh
                  - -c
                  - test -s /usr/share/nginx/html/config/runtime-config.json
              periodSeconds: 2
              timeoutSeconds: 1
              failureThreshold: 3
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: runtime-config
              mountPath: /usr/share/nginx/html/config/runtime-config.json
              subPath: runtime-config.json
      volumes:
        - name: runtime-config
          configMap:
            name: upbank-ui-runtime-config
